* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }

  .wrapper {
      display: grid;
      position: relative;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 600px 700px 300px;

      grid-template-areas:
      "header header header header"
      "main main main sidebar"
      "footer footer footer footer"
  }

  .header {
      grid-area: header;
      background-image: url(../images/banner4.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .header-menu ul { 
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        color: white;
        a {
            text-decoration: none;
            color: white;
            margin: 20px;
        }
    }
      .title {      
         font-size: 100px;
         background: -webkit-linear-gradient(#eee, blue);
         text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .title-line {
          height: 5px;
          width: 700px;
          background: linear-gradient(#eee, blue);
          display: block;
      }
       p {
           color: white;
           font-size: 30px;
           color: dodgerblue;
       }
       .header-logos {
           display: flex;
           img {
               height: 120px;
               width: 100px;
               margin: 20px;
               transition: 0.5s;
               &:hover {
                   height: 150px;
                   width: 130px;
               }
           }
       }
  }

 
  .main {
      grid-area: main;
      background-color: #f4f4f4;
      background-color: lightgrey;
  }

  .main-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: 100%;
      grid-gap: 15px;
      margin: 20px;
      div {
        border: 1px solid black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        background-color: #5b6467;
        background-color: #fffffc;
        background-color: #f6f6f6;
        background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
        transition: 0.1s;
      
        &:hover {
            transform:scale(1.1,1.1);
            border: 2px solid black;
        }
      }
  }



  .el-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      border: 1px solid black;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
          font-size: 30px;
          color: #669999;
      }
      a {
          text-decoration: none;
          color: #cc3300;
          &:hover {
              color: lighten(red, 20);
          }
      }
  }

  .sidebar {
      grid-area: sidebar;
      background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%);
      box-shadow: inset 0 0 30px darkblue;
      
      .sidebar-menu  {
         display: flex;
         flex-direction: column; 
         justify-content: center;
         align-items: center;
           .btn {
            height: 50px;
            width: 400px;
            background: radial-gradient(midnightblue, purple);
            margin: 20px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: 0.2s;
              &:hover {
                  height: 60px;
                  width: 430px;
                  p {
                      font-size: 35px;
                  }
              }
              p {
                 color: white;
                 font-size: 30px;
              }
           }
       
         }
        }

  .footer {
      grid-area: footer;
      background-color: #0d0d0d;
  }